absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
api-display-purposes==0.0.3
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.2
cachetools==4.2.4
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
clarifai==9.3.1
clarifai-grpc==9.3.0
configparser==3.8.1
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
dataclasses==0.6
decorator==4.4.2
diffusers==0.14.0
EasyProcess==1.1
emoji==2.2.0
exceptiongroup==1.1.1
filelock==3.10.0
flatbuffers==23.3.3
fonttools==4.39.3
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
google-api-core==1.34.0
google-api-python-client==2.84.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-drive==0.5.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
grpcio==1.53.0
gspread==5.1.1
h11==0.14.0
h5py==3.8.0
httpcore==0.16.3
httplib2==0.22.0
httpx==0.24.0
huepy==1.2.1
huggingface-hub==0.13.2
idna==2.10
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.0.0
importlib-resources==5.12.0
iniconfig==2.0.0
instabot==0.117.0
instapy==0.6.16
jax==0.4.8
Jinja2==3.1.2
jsonschema==2.6.0
keras==2.12.0
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
MeaningCloud-python==2.0.0
mediapipe==0.9.3.0
ml-dtypes==0.1.0
mock==5.0.1
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.4
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
plyer==2.1.0
proglog==0.1.10
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDrive==1.3.1
PyDrive2==1.15.3
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyperclip==1.8.2
PySocks==1.7.1
pytest==7.3.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.3
pytz==2023.3
PyVirtualDisplay==3.0
PyWavelets==1.4.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.23.1
rfc3986==1.5.0
rsa==4.9
schedule==1.2.0
scikit-image==0.20.0
scipy==1.9.1
selenium==4.8.3
semantic-version==2.10.0
setuptools-rust==1.5.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.4
soupsieve==2.4
sympy==1.11.1
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
termcolor==2.3.0
tifffile==2023.4.12
tokenizers==0.13.2
tomli==2.0.1
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
transformers==4.27.1
trio==0.22.0
trio-websocket==0.10.2
types-PyYAML==6.0.12.9
typing_extensions==4.5.0
undetected-chromedriver==3.4.7
uritemplate==3.0.1
urllib3==1.26.15
webdriverdownloader==1.1.0.3
websockets==11.0.1
Werkzeug==2.3.3
wrapt==1.14.1
wsproto==1.2.0
yarl==1.8.2
zipp==3.15.0
